a:link, a:visited{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Sans-serif;
    color: #147DB6;
    padding: 20px 2%;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    padding: 6px 10px;
    border: 1px solid #2177A5;
    background-color: #227bad;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #3CA5D2;
}

a:hover, a:active{
      border:  1px  solid #B32D00;
      background-color: #CC3300;
      color: #fff;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
      -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
      -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0 1px 0 #FF7242;
}

input[type=text]:focus {
    border: 3px solid #555;
	background-color:rgb(250,250,250);
}

input[type=text] {
    height:30px;
	width:250px;
	background-color:rgb(220,220,220);
	border-radius:10px;
	font-family:"Times New Roman", Georgia, Serif;
	font-size:15px;
	padding:10px;
}

input[type=password]:focus {
    border: 3px solid #555;
	background-color:rgb(250,250,250);
}

input[type=password] {
    height:30px;
	width:250px;
	background-color:rgb(220,220,220);
	border-radius:10px;
	font-size:20px;
}

input[type=password]:focus {
    border: 3px solid #555;
}

table{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding:20px;
	border-radius:10px;
	background-color:#e8edff;
	border:solid;
}

table[name="myform"]{
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding:20px;
	border-radius:10px;
	background-color:#e8edff;
	border:solid;
}

#rounded-corner{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	padding:20px;
	border-radius:10px;
	background-color:#e8edff;
	border:solid;
}

#rounded-corner th{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}

th{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}

#rounded-corner td{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}

td{
	padding: 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}

input[type=submit] {
    display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	
}
input[type=submit]:hover {
	background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #202020;
  letter-spacing: .1em;
  text-shadow: 
  0 -1px 0 #fff, 
  0 1px 0 #2e2e2e, 
  0 2px 0 #2c2c2c, 
  0 3px 0 black, 
  0 4px 0 #282828, 
  0 5px 0 #262626, 
  0 6px 0 black, 
  0 7px 0 #202020, 
  0 8px 0 #202020, 
  0 9px 0 #1e1e1e, 
  0 10px 0 black, 
  0 11px 0 #1a1a1a, 
  0 12px 0 #181818, 
  0 13px 0 #161616, 
  0 14px 0 #202020, 
  0 15px 0 #121212, 
  0 22px 30px rgba(0, 0, 0, 0.9);
}

h2{
	color: #fff; 
	background-color: black;
	font-weight: normal; 
	line-height: 48px; 
	margin: 0;
	text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px black, 0 0 20px black, 0 0 30px black, 0 0 40px #ff2d95, 0 0 50px black, 0 0 75px black;
	letter-spacing: 5px;
	font-size: 30px;
	font-family: "Great Vibes";
}

body {
    background-image: url("Wallpaper/bg.jpg");
	background-size:     cover;                     
    background-repeat:   no-repeat;
	background-attachment: fixed;	
}

input.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

input.btn:hover {
	background-color: #e3e3e3;
	border-color: rgba(0,0,0,0.5);
}
	
input.btn:active {
	background-color: #CCC;
	border-color: rgba(0,0,0,0.9);
}
